section{
    display: flex;
    flex-wrap: wrap;
}
div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.big{
    width: 300px;
    margin-right: 2%;
    margin-left: 2%;
}
img{
    width: 50px;
    margin-right: 10px;
}